:root {
    --warna-1: #303841;
    --warna-2: #3A4750;
    --warna-3: #00ADB5;
    --warna-4: #EEEEEE;
    --warna-5: #222a2f;
}

.button {
    height: 2.5rem;
    width: 8rem;
    border-radius: 5px;
    position: relative;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: var(--warna-4);
    z-index: 10;
}

.button:hover {
    box-shadow: 0px 0px 1px 1px rgba(129, 129, 129, 0.3);
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 50%;
    border-radius: 5px 5px 0 0;
    background: rgba(54, 36, 215, 0.3);
    transition: .3s;
    z-index: 1;
}

.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 50%;
    border-radius: 0 0 5px 5px;
    background: rgba(54, 36, 215, 0.3);
    transition: .3s;
    z-index: 1;
}

.button:hover::before {
    width: 100%;
}

.button:hover::after {
    width: 100%;
}

.button-primary {
    background-color: rgb(0, 153, 255);
}

.button-success {
    background-color: rgb(0, 255, 106);
}

.button-secondary {
    background-color: rgb(147, 147, 147);
}

.button-alert {
    background-color: rgb(248, 62, 46);
}

.button-dark {
    background-color: var(--warna-2);
}

.button-cyan {
    background-color: #00cdd7;
}

.button-light {
    background-color: var(--warna-4);
}

.input {
    position: relative;
    height: 3rem;
    width: 20rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    border: none;
    background-color: var(--warna-4);
    color: var(--light);
}

.input::placeholder {
    font-size: 1rem;
}

.input:focus {
    outline: none;
    box-shadow: 0px 0px 2px 3px rgba(83, 83, 83, 0.3);
}

.select {
    height: 3rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    border: none;
    background-color: var(--warna-4);
    border-radius: 10px;
}

.select:focus {
    outline: none;
    box-shadow: 0px 0px 2px 3px rgba(83, 83, 83, 0.3);
}

.option {
    background-color: var(--warna-4);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1001;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

/* Wrap */

.wrap .header {
    height: 30px;
    width: 100%;
    text-align: center;
    animation: fade-left 1s ease-in-out forwards;
}

.wrap .header h1 {
    font-size: 2rem;
    color: var(--warna-1);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.wrap .body {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    animation: fade-left 1s ease-in-out forwards;
}

.wrap .body .active-machine {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrap .body .status {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.wrap .body h4 {
    font-size: 1.3rem;
}

.chart {
    margin-top: 20px;
    height: 250px;
    width: 100%;
    animation: fade-left 1s ease-in-out forwards;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-input:checked+.slider {
    background-color: var(--warna-3);
}

.switch-input:focus+.slider {
    box-shadow: 0 0 1px var(--warna-3);
}

.switch-input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}