:root {
    --warna-1: #303841;
    --warna-2: #3A4750;
    --warna-3: #00ADB5;
    --warna-4: #EEEEEE;
    --warna-5: #333e46;
}

#error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
}

main.landing{
    position: relative;
    background-image: url('/images/bg_landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.landing .welcome{
    padding-top: 30px;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 5rem;
    letter-spacing: 5px;
    text-align: center;
    color: var(--warna-4);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fade-up 1s ease-in-out forwards;
}

main.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

main.login h1{
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 4rem;
    color: var(--warna-4);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fade-up 1s ease-in-out forwards;
}

main.register{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

main.register h1{
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 4rem;
    color: var(--warna-4);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fade-up 1s ease-in-out forwards;
}

main.home{
    box-sizing: border-box;
    padding-top: 87px;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: var(--warna-4);
    height: 821px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: minmax(300px, 0.5fr) 1.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'topleftwrap bigwrap' 
    'botleftwrap bigwrap';
    gap: 1rem;
    transition: .3s;
}

main.account {
    box-sizing: border-box;
    padding: 87px 10px 10px 10px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'title btn' 
    'list list';
    transition: .3s;
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    grid-template-rows: 70px 1fr;
    gap: 1rem;
}

main.account h1 {
    padding-left: 20px;
    grid-area: title;
    align-self: center;
    justify-self: start;
    font-size: 2rem;
    font-family: 'Poppins-Bold', sans-serif;
    color: var(--warna-1);
    text-shadow: 1px 1px 1px var(--warna-2);
}

main.account .add-account {
    padding-right: 20px;
    grid-area: btn;
    align-self: center;
    justify-self: end;
}

main.account .list-account{
    grid-area: list;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-x: auto;
}

main.profile {
    box-sizing: border-box;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 87px 10px 10px 10px;
    border-radius: 10px;
    gap: 10px;
}

main.profile .profile-container{
    box-sizing: border-box;
    height: 725px;
    min-height: fit-content;
    width: 55%;
    min-width: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.profile-container img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

main.profile .ubah-password{
    box-sizing: border-box;
    height: 725px;
    min-height: fit-content;
    width: 40%;
    min-width: 400px;
    background-color: white;
    border-radius: 10px;
}

main.machine {
    margin-top: 87px;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    transition: 0.3s;
}

main.machine article{
    box-sizing: border-box;
    width: 590px;
    flex: 1;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

main.machine .sensor{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main.machine .sensor .gauge{
    width: 100%;
}

main.machine article h1{
    font-size: 1.5rem;
    font-weight: 700;
}

main.machine .listrik{
    display: grid;
    grid-template-areas: 
    'head head' 
    'box1 box2' 
    'box3 box4';
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-template-rows: 0.2fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    /* justify-items: center; */
}

.listrik h1{
    grid-area: head;
    justify-self: left;
}

.listrik .box{
    height: 160px;
    width: 100%;
    background-color: var(--warna-3);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.listrik .box h2{
    font-size: 1.8rem;
    font-weight: 700;
}

.listrik .box h6{
    font-size: 1.5rem;
    font-weight: 700;
}

.listrik .volt{
    justify-self: center;
    grid-area: box1;
}

.listrik .current{
    justify-self: center;
    grid-area: box2;
}

.listrik .power{
    justify-self: center;
    grid-area: box3;
}

.listrik .energy{
    justify-self: center;
    grid-area: box4;
}

main.machine .production{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

main.machine .production h1:first-child{
    align-self: start;
    font-size: 2rem;
}

main.machine .production h1{
    align-self: start;
}

main.machine .production h4{
    font-size: 1.3rem;
}

main.machine .production p{
    font-size: 1.2rem;
}

.production .param {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
}

.production .card-prod{
    padding: 10px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
    min-width: 300px;
    height: 220px;
    background-color: var(--warna-4);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.production .prod h4{
    font-size: 1.4rem;
}

.production .prod p{
    font-size: 1.2rem;
}

main.machine .oee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

main.machine .oee h1{
    align-self: start;
    min-width: 350px;
}

main.machine .oee h1:first-child{
    font-size: 2rem;
}

main.machine .oee .circular{
    height: 200px;
    width: 200px;
}

/* Animation */
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }    
}

@keyframes fade-right {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-left {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}