@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('./assets//fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

:root {
    --warna-1: #303841;
    --warna-2: #3A4750;
    --warna-3: #00ADB5;
    --warna-4: #EEEEEE;
	--warna-5: #222a2f;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	transition: 0.3s;
}

body {
	font-family: 'Poppins', sans-serif, arial;
	font-size: 24px;
	overflow-x: hidden;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	background-color: var(--warna-4);
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--warna-2);
	border-radius: 20px;
	transition: 0.3s;
}
/* Dark Mode */
#root main .dark-mode{
	background-color: var(--warna-1);
}

/* Responsive */

/* For Desktop View */
@media screen and (min-width: 1024px) {
	header.landing-nav .hamburger-menu {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	header.landing-nav .hamburger-menu {
		display: none;
	}
}

@media screen and (max-width: 768px){
	header.landing-nav .nav-links{
		display: none;
	}
}


/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	header.landing-nav .nav-links{
		display: flex;
	}
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	#root main.landing .welcome{
		font-size: 3rem;
	}

	.form-validate .input {
		width: 19rem;
	}

	#root main.home{
		height: auto;
		overflow: auto;
		grid-template-columns: 1fr;
		grid-template-areas: 
		'topleftwrap' 
		'botleftwrap' 
		'bigwrap';
	}
	#root .big-wrap h2{
		margin-top: 30px;
		text-align: center;
	}
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {

}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}